@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	border: 1px solid red;
}
html {
	width: 100%;
}
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	width: 100%;
	#app {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
}

.swiper {
	width: 100%;
	height: 1500px !important;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper {
	width: 100%;
	height: 300px;
}

.swiper-wrapper {
	height: 100%;
	width: 100%;
}

.modal-view  {
	overflow: hidden;
}